node_modules/
dist/
release/
bin/*
!bin/.gitkeep
.terrably-bun-*/
_terrably_bun_entry_*.ts
bun.lock

tf-workspace/.terraform/
tf-workspace/.terraform.lock.hcl
tf-workspace/.terraform.tfstate
tf-workspace/.terraform.tfstate.backup
tf-workspace/.terraformrc
ts-workspace/versions_override.tf
